body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #191919;
  }
  
  svg {
    width: 50vw;
    opacity: .7;
  }
  
  path {
    fill: transparent;
  }
  
  img {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
  }
  
  text {
    font-size: 8px;
    fill: transparent;
    stroke: #fff;
    stroke-width: 0.3;
    font-family: arial, cursive;
    font-weight: bold;
  }
  
  #text-1 {
    fill: #fff;
    stroke: none;
  }