/** universe settings**/
:root {
  --dark: rgb(28, 28, 30);
  --light: rgb(52, 199, 89);
  --neutral: white;
  --html: url(images/html.png);
  --css: url(images/css.png);
  --js: url(images/js.png);
  --haaga: url(photo/haaga.png) ;
  --free: url(photo/free.png) ;
  --meh: url(photo/meh.png) ;
/* for frame_about hover */

}

/* .input__filter{
  display: none;
} */
html {
  font-size: 16px;
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "frame1"
    "main"
    "footer"; */
  scroll-behavior: smooth;
  transition: 1s;
  /* cursor: none; */
}

* {
  /** model box**/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


body {
  /** font from GOOGLE FONTS **/
  font-family: 'Baloo Chettan 2', cursive;
  line-height: 1.5;
  /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
    "frame1"
    "main"
    "about"
    "footer"
    "scroll";
}

.title-text {
  font-size: 50px;
  color: var(--neutral);
}

.title-text2 {
  font-size: 15px;

  color: var(--neutral);

}

.btn {
  margin-top: 2rem;
  /* background: transparent; */
  padding: 0.5rem;
  border: 2px solid white !important;
  color: white;
  cursor: pointer;
  transition: 0.75s;
}

.btn:hover {
  background-color: white;
  color: blue;
}
.btn--activated{
  color: yellow!important;
}
.btn-primary+.btn-primary {
  margin-left: 10px;
  /* background-color: white; */
  font-weight: bold;
}

a {
  text-decoration: none;
}

.fa-search {
  color: white;
  margin-right: 1rem;
}
#start, #project, #about, #contact{
  margin: 0;
}
/* FRAME 1 */
/* elements setting */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  grid-area: video;

}
#frame1__wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: stretch;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "nav"
    "header";
background-color: transparent;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  grid-area: frame1;
  /* parallax */
  overflow-x: hidden;
  overflow-y: auto;

}
#nav__wrapper {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
}

.nav__btn {
  text-align: right;
  width: auto;
  min-height: 1rem;
  /* border: 2px solid yellow; */
  padding: 1rem 1rem 0 0;
  text-decoration: none;
  margin-right: 1rem;
}
.nav__btn:hover{
background-color: white;
height: auto;
color: red;
transition: 0.5s;
scale: 1.5;
margin-top: 1rem;
box-sizing: border-box;
padding: 0.5rem;
margin-right: 2rem;
}
li:hover{
  list-style-type: disc;
  transition: 0.5s;
}
ul li {
  color: white;
  list-style-type: circle;
}

.header_des {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  animation: shine 3s infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {

  0%,
  10% {
    background-position: -1000px;
  }

  100% {
    background-position: 1000px;
  }
}

#header__wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  grid-area: header;
  justify-content: space-between;
  transition: 0.1s;

}

#heading {
  margin: 11rem auto;
  text-align: center;
  /* border: 2px solid  red; */
}

/* setting sun moon and earth */
.center__text {
  color: var(--neutral);
  margin: auto;
  z-index: 1;
  color: gray;
  padding: 24px;
  box-sizing: border-box;

}

.center__text:hover {
  color: blue;

}

#center {
  color: black !important;
  display: flex;
  position: absolute;
  /* border: 4px solid green; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.75s;
  /* background-color: black; */
}

#center:hover {
  /* border: 1px solid red; */
  color: red;
  width: 100px;
  height: 100px;
  background-color: #EDB912;
  transform: scale(1.05);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
}

#center #sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 155, 255, 0.5),
    0 0 30px rgba(0, 155, 255, 0.5),
    0 0 45px rgba(0, 155, 255, 0.5),
    0 0 60px rgba(0, 155, 255, 0.5),
    0 0 15px rgba(0, 155, 255, 0.5);
}

#center #sun #earth {
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 150px;
  height: 2px;
  /* background: #f00; */
  transform-origin: left;
  animation: rotate 10s linear infinite;


}

#center #sun #earth:before {
  content: url(photo/globe.png);
  position: absolute;
  top: -25px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 155, 255, 0.5),
    0 0 30px rgba(0, 155, 255, 0.5),
    0 0 45px rgba(0, 155, 255, 0.5),
    0 0 60px rgba(0, 155, 255, 0.5),
    0 0 10px rgba(0, 155, 255, 0.5);
  animation: rotate 10s linear infinite;
}

#center #sun #earth #moon {
  position: absolute;
  right: 25px;
  width: 60px;
  height: 1px;
  /* background: #f00; */
  transform-origin: right;
  animation: rotate 5s linear infinite;

}

#center #sun #earth #moon:before {
  content: url(photo/moon.png);
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* FRAME 2 */
/* color setting */
#main,
.frame2__wrapper {
  padding: 0;
  margin: 0;
  grid-area: main;
  background-color: black;
  /* border: 2px solid red; */
}

#content {
  width: 100%;
  min-height: 100vh;
  background: url(images/cake.jpeg) center/cover;
  background-attachment: fixed;
  color: black;
  text-align: center;
}

a {
  text-decoration: none;
}

.menu_top {
  display: flex;
  height: 5rem;
  align-items: center;
  background-color: #ffffff;
}

.menu_top img,
.contact,
.button,
.menu_top ul {
  flex: 1;
  justify-content: center;
}

.menu_top ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.menu_top ul li {
  display: flex;
  padding-left: 1rem;
  align-items: center;
}

h3.name {
  margin-top: 12rem;
  color: white;
}

h3.us {
  font-size: 2.5rem;
}

h3.us b,
h3.name b {
  color: peru;
}

#middle {
  margin-top: 6rem !important;
  display: flex;
  width: 80%;
  margin: auto;
}

.left {
  padding-right: 5rem;
}

.right {
  height: 400px;
}

.right img {
  max-width: 100%;
  height: auto;

}

.square {
  position: relative;
}

.square::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  outline: 0.5rem solid peru;
  transition: 1s;
}

#filter {
  min-height: 100vh;
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#filter_button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#input_filter {
  padding-top: 3rem;
}

#filter-data {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.4s;
  /* border: 2px solid red; */
}

#search-item {
  padding: 0.75rem;
  width: 15rem;
  background-color: black;
  border: 2px solid white;
  color: white;

}

.element_projects {
  border: solid 2px white;
  background-color: black;
}

article {
  margin: 3rem 4rem 3rem 4rem;

}

.post__item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 289px;
  background-color: black;
  cursor: pointer;
  border: 2px solid white;
}

.post__item {
  transform: translate(-5%, -5%);
  transition: transform 0.2s;
}

.post__item:hover {
  transform: translate(0, 0);
}

/* .element_projects:hover {
  opacity: 1;
  transform: scale(1.04);
} */
.element_projects img {
  width: 100%;
}

.infor {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: 'Baloo Chettan 2', cursive;

}

.infor h1 {
  font-size: 1.5rem;
}

.type {
  justify-content: flex-end;
  display: flex;
  flex: 1;
}

.name_item {
  justify-content: flex-start;
  flex: 1;
  display: flex;
}

#logo__wrapper {
  width: 335px;
  height: 47px;
  /* border: 2px solid red; */
  /* justify-content: flex-end; */
  display: flex;
  justify-items: flex-start;
}

.logo__item {
  /* margin: auto; */
  height: 40px;
  width: 40px;
  /* border: 2px solid black; */

}

.item-html {
  background-image: var(--html);
  background-size: contain;
  background-position: center;
}

.item-css {
  background-image: var(--css);
  background-size: contain;
  background-position: center;
}

.item-js {
  background-image: var(--js);
  background-size: contain;
  background-position: center;
}

.active {
  background: yellow !important;
  color: blue;
}

/* modal box */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 3;
  display: none;
}

.modal_box {
  position: relative;
  width: 80% !important;
  margin: auto;
  top: 0;
  min-height: 100vh;
  text-align: right;
  z-index: 100;
}

.fa-window-close {
  cursor: pointer;
  font-size: 3rem !important;
}

.lightbox {
  min-height: 80vh;
}

.fa-caret-left,
.fa-caret-right {
  cursor: pointer;
  top: 50%;
  z-index: 99;
  position: absolute;
  font-size: 3rem !important;
  transition: 0.4s;
}

.fa-caret-left {
  left: 0px;
  padding-right: 2rem;
  transform: translate(-60%, -50%);

}

.fa-caret-right {
  right: 0px;
  transform: translate(60%, -50%);
  padding-left: 2rem;
}

.fa-caret-left:hover,
.fa-caret-right:hover,
.fa-window-close:hover {
  content: '';
  color: red;
}

/* FRAME ABOUT */
#frame_about {
  grid-area: about;
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6rem;
  
}

 .about_column {
  border: 2px solid black;
  width: 15rem;
  height:15rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
 
.about_logo{
  width: 100%;
  height: 50%;
 /* border: 2px solid blue; */
}
.about_logo, .about_content{
  margin: auto;
  text-align: center;
}
.about_heading{
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.c1{
  content: var(--haaga);
}
.c2{
  content: var(--free);
}
.c3{
  content: var(--meh);
}

/* FOOTER */
/* color setting */
#footer {
  margin: 0;
  padding: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: footer;
  background-color: black;
  background-position: center;
  background-size: cover;
}

#footer__logo {
  display: flex;
  align-self: center;
}

.frame3__upper {
  /* border: solid 2px red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  text-align: center;
}

.upper__text {
  text-align: left !important;

}

.frame3__below {
  /* border: solid 2px green; */
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__contact {
  background-color: rgba(48, 51, 84, 0.5);
  margin-top: 0.5rem;
  width: 14rem;
}

#contact__form {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: auto;
  padding-bottom: 10px;
}

.button__contact {
  align-self: flex-end;
  margin-top: 0;
}

#scroll-container {
  grid-area: scroll;
  background-color: white;
}

/* animation */
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

#header__wrapper:hover {
  color: var(--light);

}

/* test sky */
